body{
text-align: center;
overflow: hidden;
}
   
.heading{
width: 100%;
font-size: 23px;
box-shadow: 5px 5px 18px black;
}

.h{
float: none;
}

canvas{
border-width: 1px;
border-style: solid;
border-color: black;
}

.kk{
margin: 0;
}

.hh{
background-image: url("background.jpg");
height: 410px;
}